body{
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial;
}

.first_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(112, 18, 6);
    color: white;

}

.first_category{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
}

.text{
    margin: 0;
    font-size: 12px;
}

.icons{
    width: 17px;
    vertical-align: middle;
}

.search_bar{
    background-color: rgb(92, 12, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart{
    padding-left: 30px;
    padding-right: 10px;
}

.money{
    padding-right: 50px;
}

.search_button{
    padding-left: 80px;
    padding-top: 15px;
    padding-right: 80px;
    padding-bottom: 15px;
    height: 100%;
    background-color: rgb(79, 11, 2);
    border: none;
}

.second_bar{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(145, 23, 2)
}

.food_menu{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url("https://dylexic.github.io/cooker/Images/menu_background.jpg");
}

.food_category, .food_categories{
    font-size: 14px;
}

.food_categories, .food_category{
    margin-right: 35px;
}

.food_category{
    margin-left: 35px;
}

.vegitable{
    width: 200px;
    position: absolute;
    left: 70%;
    bottom: 62%;
}

.third_bar{
    padding-left: 140px;
    padding-top: 40px;
    padding-right: 130px;
    padding-bottom: 30px;
    background-color: rgb(247, 233, 207);
}

.divisions, .division{
    margin: 0;
    margin-bottom: 23px;
    font-size: 15px;
    display: inline-block;
}

.division{
    color: rgb(92, 12, 1);
}

.flex{
    padding-left: 25px;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.location{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

.info{
    margin-right: 80px;
}

.information{
    margin-top: 0;
    margin-bottom: 45px;
    font-size: 16px;
}

.name, .email, .subject, .message{
    margin-bottom: 24px;
    width: 400px;
    background-color: rgb(226, 204, 167);
    border: none;
}

.name, .email, .subject{
    height: 37px;
}

.message{
    height: 110px;
}

.send_button{
    padding-top: 10px;
    padding-left: 20PX;
    padding-right: 20PX;
    padding-bottom: 10PX;
    background-color: white;
    color: rgb(92, 12, 1);
    border-color: rgb(92, 12, 1);
    border-width: 2px;
    border-style: solid;
    float: right;
    font-weight: bold;
}

.main{
    margin-top: 0;
    font-size: 18px;
}

.address{
    font-size: 17px;
}

.paragram{
    font-size: 12px;
    color: rgb(59, 60, 62);
}

hr{
    width: 100%;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
}

.find{
    font-size: 21px;
}

.map{
    width: 100%;
}

.last_bar{
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: rgb(156, 19, 0);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 90px;
}

.title{
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    vertical-align: top;
}

.the_last_division{
    margin-left: 30px;
    margin-top: 60px;
}

.offer{
    font-size: 14px;
}

.mail_id{
    margin-top: 10px;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    width: 200px;
    font-size: 14px;
    background-color: rgb(112, 18, 6);
    color: white;
    border: none;
}

.sign{
    margin-top: 10px;
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    background-color: rgb(247, 233, 207);
    color: rgb(92, 12, 1);
    border: none;
}

.plateforms{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
}

.logos{
    margin-right: 10px;
    width: 19px;
    border: none;
    background-color: rgb(79, 11, 2);
    vertical-align: middle;
}

.final_block{
    padding-top: 5px;
    background-color: rgb(148, 21, 4);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 500px;
    align-items: baseline;
}

.website_logo{
    width: 70px;
    height: 35px;
}

.copyright{
    display: inline-block;
}

.copyright, .final_text{
    margin: 0;
    font-size: 12px;
}